<p>
  In order to accommodate as many people as possible, we are going to spread the 
  content of the typical two-day bootcamp over four afternoons. The following is 
  an outline of what will be taught:
</p>

<p>
  <strong>Session 1: The basics</strong><br />
  <em>Monday 25 November, 3-6pm</em><br />
  The key to being a proficient programmer is solid fundamentals. In this session 
  you'll learn the basics of the unix shell, which is the cornerstone of software 
  carpentry.
  <br /><br />

  <strong>Session 2: Programming like a programmer</strong><br />
  <em>Wednesday 27 November, 3-6pm</em><br />
  <em>Monday 2 December, 3-6pm</em><br />
  Have you ever wondered how professional programmers write code? In this session 
  you'll learn the common tricks of the trade, via an introduction to the Python 
  programming language. From defensive programming, error handling and debugging 
  to unit testing and test-driven development, the skills learned in this session
  are transferrable to any language.
  <br /><br />

  <strong>Session 3: Version control</strong><br />
  <em>Wednesday 4 December, 3-5pm</em><br />
  Do you work in a small research team that shares code? Do you struggle to keep 
  track of multiple versions of the same code? Would you like an easier way to backup 
  your work? This session will teach you everything you need to know about git, 
  a version control system that can solve all these problems and more.
  <br /><br />

  <strong>Session 4: Ongoing support</strong><br />
  <em>Wednesday 4 December, 5-6pm</em><br />
  Programming can be a lonely pastime. It's often hard to get feedback and assistance 
  when you run into trouble. To overcome this problem, we want to establish a postgraduate 
  programming community here at the University of Melbourne. At this session you'll get 
  to have input into how this community is run and what activities it will undertake. To
  make the session a little more social, it will be held at 
  <a href="http://tsububar.com.au/">Tsubu</a> (i.e. we'll all walk down together after 
  the version control session). Drinks are on us!
</p>
