<p>
  In order to accommodate as many people as possible, we are going to spread the 
  content of the typical two-day bootcamp over four afternoons. The following is 
  a draft outline of what will be taught, however the syllabus may change slightly 
  depending on the baseline knowledge of the attendees. Note that to participate 
  you must attend all four sessions:
</p>

<p>
  <strong>Session 1: The basics</strong><br />
  <em>Monday 25 November, 3-6pm</em><br />
  The key to being a proficient programmer is solid fundamentals. In this session 
  you'll learn the basics of the unix shell and the Python programming language.
  <br /><br />

  <strong>Session 2: Programming like a programmer</strong><br />
  <em>Wednesday 27 November, 3-6pm</em><br />
  Have you ever wondered how professional programmers write code? In this session 
  you'll learn the common tricks of the trade, from defensive programming, error 
  handling and debugging, to unit testing and test-driven development.
  <br /><br />

  <strong>Session 3: Version control</strong><br />
  <em>Monday 2 December, 3-6pm</em><br />
  Do you work in a small research team that shares code? Do you struggle to keep 
  track of multiple versions of the same code? Would you like an easier way to backup 
  your work? This session will teach you everything you need to know about git, 
  a version control system that can solve all these problems and more.
  <br /><br />

  <strong>Session 4: Ongoing support</strong><br />
  <em>Wednesday 4 December, 3-6pm</em><br />
  Programming can be a lonely pastime. It's often hard to get feedback and assistance 
  when you run into trouble. To overcome this problem, we want to establish a postgraduate 
  programming community here at the University of Melbourne. At this session, you'll get 
  to have input into how this community is run and what activities it will undertake. We'll 
  also squeeze in some extra topics like numerical programming and data management if time 
  permits. This final session will be followed by a little party at 
  <a href="http://tsububar.com.au/">Tsubu</a> (from 6pm onwards) to officially kick-off 
  the Postgraduate Research Society.
</p>
