<p>
  <strong>What:</strong>
  The mission of the Software Carpentry project is to help scientists be more 
  productive by teaching them basic computing skills. Scientists often spend 
  much of their time wrestling with software, but most are self-taught programmers. 
  As a result, they spend hours doing things that should take minutes, reinvent a 
  lot of wheels, and still don't know if their results are reliable. To tackle 
  this problem, Software Carpentry run bootcamps at dozens of sites around 
  the world, ranging from ultra-prestigious institutions like Harvard and Oxford to 
  far-flung universities in places like Beirut, Cape Town and now Melbourne!
</p>
